div.contenedor-cuerpo{background-color: #ff9d0c;
                      font-family: arial, Helvetica, sans-serif;
                      margin-top:4em;
                      background-image: url("../IMG/dibujo-panes.jpg")

                        }

div.cabecera{background-color: darkred;
            font-family: "Book Antiqua";
            color: #ffeae4;
            padding: 2em 0;
            margin-bottom: 2em;
            text-align: center;
            }


fieldset.formulario{background-color: #ffeae4}

footer{color: black;background-color: #ffba8b}


div.tabla{
    max-height: 300px; /* Altura máxima que permitirá antes de mostrar el scrollbar */
    overflow-y: auto; /* Scrollbar vertical */
}

div.tabla thead th {
    position: sticky;
    top: 0;
    z-index: 2; /* Asegura que el thead quede por encima del contenido */
    background-color: #f8f9fa; /* Color de fondo similar al utilizado por Bootstrap */
}